/* You can add global styles to this file, and also import other style files */

body {
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 1.0;
}

.input-group {
  margin-bottom: 15px;
}
table{
  td {
    padding-bottom: 7px !important;
    padding-top: 7px !important;
    vertical-align: middle !important;
    text-align: center;
  }
  th{
     padding-bottom: 12px !important;
     padding-top: 12px !important;
     vertical-align: middle !important;
     text-align: center;
  }
}
.winkel-calendar[_ngcontent-c2]{
    .wc-date-container[_ngcontent-c3]{
          border: 1px solid #ccc;
        border-radius: 5px;
    }
}
