<div>
    <app-loading [condition]="isLoading"></app-loading>

    <app-toast [message]="toast.message"></app-toast>

    <div class="card" *ngIf="!isLoading">
      <h5 class="card-header">Message</h5>
      <div class="card-block">
       <div class="table-responsive custom_table">
        <table class="table table-bordered">
          <thead class="thead-default">
            <tr>
              <th width="35%">From</th>
              <th width="35%">To</th>
              <th width="30%">Date</th>
            </tr>
          </thead>
          <tbody *ngIf="messageList.length === 0">
            <tr>
              <td colspan="3">There are no feedback in the DB.</td>
            </tr>  
          </tbody>
          <tbody>
            <tr *ngFor="let msg of messageList">
              <td>{{msg.from.username}}</td>
              <td>{{msg.to.username}}</td>
              <td>{{msg.date | date}}</td>
            </tr>  
          </tbody>
        </table>
        </div>
      </div>
    </div>
</div>
