<div>
    <app-loading [condition]="isLoading"></app-loading>

    <app-toast [message]="toast.message"></app-toast>

    <div class="card" *ngIf="!isLoading && !isEditComment">
      <div class="card-header">
        <span class="custom_span_header">Current Activities ({{activities.length}})</span>
        <span class="custom_back_btn">
            <a routerLink="/greenHouseType" routerLinkActive="active" style="color: white;">
                <button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>
            </a>
         </span>
      </div>
      <!--<div class="col-md-4 custom_back_btn">
          Back</button></a>
      </div>-->
      <div class="card-block">
       <div class="table-responsive custom_table">
        <table class="table table-bordered">
          <thead class="thead-default">
            <tr>
                <th width="15%">Name</th>
                <th width="20%">Description</th>
                <th width="15%">Date</th>
                <th width="10%">Day</th>
                <th width="10%">Status</th>
                <th width="30%">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="activities.length === 0">
            <tr>
                <td colspan="6">There are no activities in the DB. Add a new cat below.</td>
            </tr>  
          </tbody>
          <tbody *ngIf="!isEditing">
            <tr *ngFor="let activity of activities">
                <td>{{activity.name}}</td>
                <td class="date_row_overflow">{{activity.description}}</td>
                <td >{{activity.date | date}}</td>
                <td>{{activity.day}}</td>
                <td>{{activity.status}}</td>
                <td>
                  <button class="btn btn-sm btn-warning" (click)="editActivityDialog(activity)"><i class="fa fa-pencil"></i> Edit</button> 
                  <button class="btn btn-sm btn-danger" (click)="deleteActivities(activity)"><i class="fa fa-times" aria-hidden="true"></i></button>
                  <button class="btn btn-sm btn-primary" (click)="viewCommnetsFunction(activity)"><i class="fa fa-info-circle" aria-hidden="true"></i>View Commments</button>
                </td>
            </tr> 
            <popup>
                <form (ngSubmit)="editActivity()" ngNativeValidate>
                  <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-5">
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Name</label>
                            <input class="form-control" type="text" name="name" placeholder="Name"  [(ngModel)]="activityData.name" required>
                          </div>
                      </div>
                      <div class="col-md-5">
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Days</label>
                            <input class="form-control" type="number" name="day" placeholder="Days"  [(ngModel)]="activityData.day" required>
                          </div>
                      </div>
                      <div class="col-md-1"></div>
                  </div>
                  <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-5">
                          <div class="form-group"> 
                            <label for="exampleFormControlTextarea1">Status</label>
                            <!--<select class="form-control" name="status" placeholder="Status" [(ngModel)]="activityData.status" required>
                                <option value="" selected="selected">Select status</option>
                                <option value="CREATED">CREATED</option>
                                <option value="COMPLETED">COMPLETED</option>
                                <option value="INCOMPLETE">INCOMPLETE</option>
                            </select>-->
                            <select class="form-control" name="status" name="status" placeholder="Status"  [(ngModel)]="activityData.status" required>
                                <option *ngFor="let st of statusList" [value]="st.status">{{st.status}}</option>
                            </select>
                          </div>
                      </div>
                       <div class="col-md-5">
                          <div class="form-group"> 
                            <label for="exampleFormControlTextarea1">Green house type</label>
                            <select class="form-control" name="greenHouseTypeId"  [(ngModel)]="activityData.greenHouseTypeId" required>
                              <!--<option [ngValue]="" selected="selected">Select green house type</option>-->
                              <option [ngValue]="type._id" *ngFor="let type of greenHouseTypes">{{type.type}}</option>
                            </select>
                          </div>
                      </div>
                      <div class="col-md-1"></div>
                  </div>
                  <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="description" placeholder="Description"  [(ngModel)]="activityData.description" required></textarea>
                          </div>
                      </div>
                      <div class="col-md-1"></div>
                  </div>
                  <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                          <div class="form-group"> 
                              <label for="exampleFormControlTextarea1">Comment</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="comment" placeholder="Comment"  [(ngModel)]="activityData.comment" required></textarea>
                          </div>
                      </div>
                      <div class="col-md-1"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                      <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-floppy-o"></i> Save</button>
                      <button class="btn btn-sm btn-warning" (click)="cancelDialog();"><i class="fa fa-times"></i> Cancel</button>
                    </div>
                  </div>
                </form>
            </popup>  
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="isEditComment">
      <div class="card-header">
        <span class="custom_span_header">View Comments</span>
        <span class="custom_back_btn">
            <button class="btn btn-primary" (click)="isEditComment=false;"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back to Activites</button>
         </span>
      </div>
      <div class="card-block custom_table">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div>
                <div class="chatbox">
                    <div id="cust_message_div" class="chatmessages">
                    <div *ngFor="let msg_list of message_list">
                        <!--response msg-->
                        <div class="tech-box usera-box">
                            <div class="col-md-2">
                                <div class="chat-user-profile-imgA" style="background-image:url('../assets/avtar.png')"></div>
                            </div>
                            <div class="col-md-10 text-text-box">{{msg_list.comment}}</div>
                        </div>
                        <!--request msg-->
                        <div class="tech-box userb-box">
                            <div class="col-md-10 textb-text-box">{{msg_list.comment}}</div>
                            <div class="col-md-2">
                                <div class="chat-user-profile-imgB" style="background-image:url('../assets/avtar.png')"></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="tech-box usera-box tech_box_send_input">
                    <div class="col-md-10 signup-formgroup chat_notification_input">
                        <input class="form-control custom-input" [(ngModel)]="sendMessage" type="text" placeholder="Write a Comment">
                    </div>
                    <div class="col-md-2 send_btn_div">
                        <div (click)="sendCommnet(sendMessage)" class="userb-img-box playbox chat_send_btn"><img src="../assets/send-button.png" class="chat_send_img"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
         </div>
         <div class="col-md-1"></div>
      </div>
    </div>
</div>