<div>
    <app-loading [condition]="isLoading"></app-loading>

    <app-toast [message]="toast.message"></app-toast>

    <div class="card" *ngIf="!isLoading">
      <h5 class="card-header">Feedback</h5>
      <div class="card-block">
       <div class="table-responsive custom_table">
        <table class="table table-bordered">
          <thead class="thead-default">
            <tr>
              <th width="20%">Green house Name</th>
              <th width="20%">Supervisior Name</th>
              <th width="40%">Message</th>
              <th width="20%">Delivery Day</th>
            </tr>
          </thead>
          <tbody *ngIf="feedBackList.length === 0">
            <tr>
              <td colspan="6">There are no feedback in the DB.</td>
            </tr>  
          </tbody>
          <tbody>
            <tr *ngFor="let fb of feedBackList">
              <td>{{fb.greenHouse_id.name}}</td>
              <td>{{fb.supervisior_id.username}}</td>
              <td class="date_row_overflow">{{fb.message}}</td>
              <td >{{fb.delivery_day}}</td>
            </tr>  
          </tbody>
        </table>
        </div>
      </div>
    </div>
</div>
