<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/home" class="nav-item nav-link" *ngIf = "check_login_status()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Home
      </a>
      <a routerLink="/login" class="nav-item nav-link"  *ngIf = "!check_login_status()" routerLinkActive="active" >
        <i class="fa fa-sign-in"></i> Login
      </a>
       <a routerLink="/project" class="nav-item nav-link" *ngIf = "check_project_requests() && check_login_status()" style = "color : Red" routerLinkActive="active" >
        <i class="fa fa-registered" aria-hidden="true"></i> Projects
      </a>
      <a routerLink="/project" class="nav-item nav-link" *ngIf = "!check_project_requests() && check_login_status()" routerLinkActive="active" >
        <i class="fa fa-registered" aria-hidden="true"></i> Projects
      </a>
      <a routerLink="/profile" class="nav-item nav-link" *ngIf = "check_login_status()" routerLinkActive="active" >
        <i class="fa fa-registered" aria-hidden="true"></i> Profile
      </a>
      <a (click)="logout()" class="nav-item nav-link" *ngIf = "check_login_status()" routerLinkActive="active" >
        <i class="fa fa-sign-out"></i> Logout
      </a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

