<div class="cointaner">
    <app-loading [condition]="isLoading"></app-loading>
    <app-toast [message]="toast.message"></app-toast>
    <div class="card" *ngIf="isProjectList && !iscreateProject  && !isAssignProjView">
      <div class="card-header">
        <span class="custom_span_header">My Project</span>
        <button class="btn btn-sm btn-primary header_btn" (click)="craeteProjectBtn()">Create Project</button> 
      </div>
      <div class="card-block">
        <div class="table-responsive custom_table">
        <table class="table table-bordered">
            <thead class="thead-default">
              <tr>
                <th width="72%">Project Name</th>
                <th width="8%">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="MyProjectsList.length == 0">
              <tr>
                <td colspan="2">There are no project in the DB. Add a new project.</td>
              </tr>  
            </tbody>
            <tbody>
              <tr *ngFor="let project of MyProjectsList">
                <td>
                    <span>{{project.project_name}}</span>
                </td>
                <td>
                    <button class="btn btn-sm btn-warning" (click)="projectEditBtm(project)"><i class="fa fa-pencil"></i></button> 
                </td>
              </tr> 
            </tbody>  
        </table>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="isProjectList && !iscreateProject && !isAssignProjView">
      <div class="card-header">
        <span class="custom_span_header">Assigned Project</span>
      </div>
      <div class="card-block">
        <div class="table-responsive custom_table">
        <table class="table table-bordered">
            <thead class="thead-default">
              <tr>
                <th width="78%">Project Name</th>
                <th width="22%">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="AssignedProjectsList.length == 0">
              <tr>
                <td colspan="2">There are no project in the DB. Add a new project.</td>
              </tr>  
            </tbody>
            <tbody>
              <tr *ngFor="let project of AssignedProjectsList">
                <td>
                    <span>{{project.project_name}}</span>
                </td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="showAssignedProjectView(project)"><i class="fa fa-info-circle" aria-hidden="true"></i></button> 
                    <button class="btn btn-sm btn-success" *ngIf="project.accept==1"><i class="fa fa-check" aria-hidden="true"></i></button> 
                    <button class="btn btn-sm btn-success" *ngIf="project.accept==0" (click)="acceptProjectReq(project._id)"><i class="fa fa-plus" aria-hidden="true"></i> Accept </button>
                    <button class="btn btn-sm btn-danger" *ngIf="project.accept==0" (click)="rejectProjectReq(project._id)"><i class="fa fa-times" aria-hidden="true"></i> Reject </button>
                </td>
              </tr> 
            </tbody>  
        </table>
        </div>
      </div>
    </div>
    <div class="card " *ngIf="iscreateProject && !isProjectList && !isAssignProjView">
       <div class="card-header">
        <span class="custom_span_header">{{projectDetail._id ? "Update Project":"Create Project"}}</span>
       </div>
        <div class="ctm_form">
          <br>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                 <div class="form-group">
                   <label>Project Name</label>
                   <input class="form-control" type="text" name="project_name" [(ngModel)]="projectDetail.project_name" placeholder="Project Name">
                  </div>
              </div>
              <div class="col-md-5">
                 <div class="form-group">
                   <label>Role</label>
                   <select class="form-control" name="role" [(ngModel)]="projectDetail.role">
                        <option [ngValue]="role" *ngFor="let role of roleList;"  placeholder="Role">{{role}}</option>
                   </select>
                  </div>
              </div>
              <div class="col-md-1"></div>
          </div>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                 <div class="form-group">
                   <label>Project Description</label>
                   <textarea class="form-control" rows="2" name="desc" [(ngModel)]="projectDetail.desc" placeholder="Project Description" ></textarea>
                  </div>
              </div>
              <div class="col-md-1"></div>
          </div>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <label>Activities</label>
                  <div class="">
                  <table class="table table-fixed table-bordered activity_ctm">
                      <thead class="thead-default">
                          <tr>
                            <th class="col-md-1">&nbsp;</th>
                            <th class="col-md-9">Name</th>
                            <th class="col-md-2" style="text-align:center">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let act of activityData;let i=index;">
                            <td class="col-md-1">
                                {{i+1}}
                            </td>
                            <td class="col-md-9">
                                <div class="form-group ctm_input">
                                  <input class="form-control" type="text" [(ngModel)]="act.name" placeholder="Name">
                                </div>
                            </td>
                            <td class="col-md-2">
                                <button class="btn btn-sm btn-danger" (click)="removeActivity(index);"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-info" (click)="addActivity();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </td>
                          </tr> 
                      </tbody>  
                  </table>
                  </div>
              </div>
              <div class="col-md-1"></div>
          </div>
          <div class="row">
             <br>
              <div class="col-md-1"></div>
              <div class="col-md-6">
                  <span class="Assign">Assign To</span>
                  <ng-select [allowClear]="true"
                        [items]="employeesToshow"
                        [disabled]="disabled"
                        [active]="isEmpAutoSelect"
                        (data)="refreshValue($event)"
                        (selected)="selected($event)"
                        (removed)="removed($event)"
                        (typed)="typed($event)"
                        placeholder="No employee selected">
                  </ng-select>
              </div>
              <div class="col-md-3">
                   <span class="Assign">Role</span>
                   <select class="form-control" [(ngModel)]="searchEmpDetail.role">
                        <option *ngFor="let role of roleList;" [ngValue]="role" placeholder="Role">{{role}}</option>
                   </select>
              </div>
              <div class="col-md-1">
                  <span class="Assign">&nbsp;</span>
                  <button class="btn btn-sm btn-danger" (click)="addSelectedEmp()">Add</button>
              </div>
              <div class="col-md-1"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 cat_lable custom-div-margin">
                <div class="form-group city-data">
                    <div class="searc_head"> 
                          <div class="col-md-5">Selected Employees</div>
                          <div class="col-md-5">Role</div>
                          <div class="col-md-2" style="text-align:right">Action</div>
                    </div>
                     <div *ngIf="addAssignUserList.length==0" class="city-data-div user_table">
                         <div class="col-md-4"></div>
                        <div class="col-md-8">No record availble in DB.</div>
                    </div> 
                    <div *ngIf="addAssignUserList.length!=0" >
                    <div class="city-data-div user_table" *ngFor="let user of addAssignUserList">
                        <div class="col-md-5">{{user.name}}</div>
                        <div class="col-md-5">{{user.role}}</div>
                        <div class="col-md-2" class="ctm_close"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>   
                    </div> 
                </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <button class="btn btn-sm btn-primary" type="button" (click)="sendProjectFormData(myForm)"><i class="fa fa-floppy-o"></i> Save</button>
                <button class="btn btn-sm btn-primary" (click)="cancel()" type="button"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
              </div>
          </div>
          <br>
        </div>
     </div>

      <div class="card " *ngIf="!iscreateProject && !isProjectList && isAssignProjView">
       <div class="card-header">
        <span class="custom_span_header">View Project Detail</span>
       </div>
        <div class="ctm_form">
          <br>
          <div class="row" style="padding-bottom: 14px;">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                  <span>Project Name : {{AssignedProjectView.project_name}}</span>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row" style="padding-bottom: 14px;">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                  <span>Project Description : {{AssignedProjectView.desc}}</span>
            </div>
            <div class="col-md-1"></div>
          </div>
           <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                  <!--<button class="btn btn-sm btn-primary" type="button" (click)="sendProjectFormData(myForm)"><i class="fa fa-floppy-o"></i> Save</button>-->
                  <button class="btn btn-sm btn-primary" (click)="cancelView()" type="button"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
                </div>
            </div>
            <br>
        </div>
     </div>
</div>
