<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<div *ngIf="isShowproject && !isShowList" style="height: 350px;">
    <div class="home_header" style="padding-top: 6px;">
        <div> 
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" (click)="openMyProject();isActiveMyProject=true;isActiveAcceptProject=false;isActiveReqProject=false;" [ngClass]="{'isActiveClass':isActiveMyProject}">My Project ({{myProjectList.length}})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="openAcceptedProject();isActiveMyProject=false;isActiveAcceptProject=true;isActiveReqProject=false;" [ngClass]="{'isActiveClass':isActiveAcceptProject}">Accepted Project ({{AcceptedProjectList.length}})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="openRequestedProject();isActiveMyProject=false;isActiveAcceptProject=false;isActiveReqProject=true;" [ngClass]="{'isActiveClass':isActiveReqProject}">Requested Project ({{RequestedProjectList.length}})</a>
              </li>
            </ul>
        </div>
    </div>
    <div *ngFor="let project_detail of projectList">
        <div *ngIf="isActiveReqProject!=true"  class="card card_ctm">
          <div class="card-body">
            <div>
                <span class="card-title project_name_span" style="margin-left: 0px;">{{project_detail.project_name}}</span>
                <!-- <i class="fa fa-briefcase icon" aria-hidden="true" (click)="openTaskListDialog(project_detail)"></i> -->
            </div>
            <p class="card-text desc_elipsis">{{project_detail.desc}} </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Role : {{project_detail.role}}</li>
            <li *ngIf="isActiveReqProject==false" class="list-group-item">Last seen : {{project_detail.modify_date | date : " MMM d, y h:mm:ss a" }}</li>
            <li class="list-group-item">Activities : </li>
          </ul>
          <div class="card-body ctm_div" style="height: 40px;float: right; margin-bottom: 0px; margin-left: 10px;">
            <a class="card-link cursor_ctm" (click)="openTaskListDialog(project_detail)">Tasks</a>
          </div>
        </div>
        <div *ngIf="isActiveReqProject==true" class="card card_ctm" style="height: 220px;">
            <div class="card-body">
              <div>
                  <span class="card-title project_name_span" >{{project_detail.project_name}}
                  </span>
                  <i class="fa fa-briefcase icon" aria-hidden="true" (click)="openTaskListDialog(project_detail)"></i>
              </div>
              <p class="card-text desc_elipsis">{{project_detail.desc}} </p>
            </div>
            <ul class="list-group list-group-flush">
              <li *ngIf="isActiveReqProject==false" class="list-group-item">Last seen : {{project_detail.modify_date | date : " MMM d, y h:mm:ss a" }}</li>
              <li class="list-group-item">Activities : </li>
              <!-- <li>  
                <button class="btn btn-sm btn-success" *ngIf="project.accept==0" (click)="acceptProjectReq(project._id)"><i class="fa fa-plus" aria-hidden="true"></i> Accept </button>
                <button class="btn btn-sm btn-danger" *ngIf="project.accept==0" (click)="rejectProjectReq(project._id)"><i class="fa fa-times" aria-hidden="true"></i> Reject </button>
              </li> -->
            </ul>
            <div class="card-body ctm_div" style="height: 40px;float: right; margin-right: 10px;">
                <button class="btn btn-sm btn-success" (click)="acceptProjectReq(project_detail._id)"><i class="fa fa-plus" aria-hidden="true"></i> Accept </button>
                <button class="btn btn-sm btn-danger" (click)="rejectProjectReq(project_detail._id)"><i class="fa fa-times" aria-hidden="true"></i> Reject </button>
            </div>
        </div>
    </div>
    <div *ngIf="projectList.length==0" style="margin: 20px;">
       <span style="margin-left: 40%;">No record available in DB.</span>
    </div>
    <div *ngIf="taskList.length!=0" class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
</div>
<div *ngIf="!isShowproject && isShowList">
  <div class="home_header" style="padding-top: 6px;">
    <div class="row"> 
      <div class="col-md-11">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a class="nav-link" (click)="openAllTasks();isTaskActive[0]=true;isTaskActive[1]=false;isTaskActive[2]=false;
                  isTaskActive[3]=false;isTaskActive[4]=false;" [ngClass]="{'isActiveClass' : isTaskActive[0]}">All Task</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="openRunningTasks();isTaskActive[0]=false;isTaskActive[1]=true;isTaskActive[2]=false;
                  isTaskActive[3]=false;isTaskActive[4]=false;" [ngClass]="{'isActiveClass' : isTaskActive[1]}">Inprogress Tasks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="openPendingTasks();isTaskActive[0]=false;isTaskActive[1]=false;isTaskActive[2]=true;
                isTaskActive[3]=false;isTaskActive[4]=false;" [ngClass]="{'isActiveClass' : isTaskActive[2]}">Pending</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="openCommingTasks();isTaskActive[0]=false;isTaskActive[1]=false;isTaskActive[2]=false;
                  isTaskActive[3]=true;isTaskActive[4]=false;" [ngClass]="{'isActiveClass' : isTaskActive[3]}">Upcoming Tasks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="openCompletedTasks();isTaskActive[0]=false;isTaskActive[1]=false;isTaskActive[2]=false;
                isTaskActive[3]=false;isTaskActive[4]=true;" [ngClass]="{'isActiveClass' : isTaskActive[4]}">Completed Tasks</a>
              </li>
            </ul>
      </div>
      <span class="col-md-1" style="padding-left:50px;">
        <button class="btn btn-sm btn-success" (click)="backBtn()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
      </span>
    </div>
  </div>
  <div>
      <!-- <div *ngFor="let task_detail of taskList">
          <div class="card card_ctm" style="height: 400px;">
            <div class="card-body">
              <div>
                  <span class="card-title project_name_span" [ngClass]="{'task_exp_title':task_detail.expire==1}" style="margin-left:0px;">{{task_detail.task_title}}</span>
                  <i class="fa fa-tasks" aria-hidden="true" style="float: right;color:black;" (click)="openProjectListDialog()"></i>
                  <i *ngIf="task_detail.select==1" class="fa fa-check" aria-hidden="true" style="color:green;float: right; padding-right:10px;"></i>
              </div>
              <p class="card-text desc_elipsis">{{task_detail.task_description}} </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="isActiveMyProject">Assign To : {{task_detail.assign_to.name}} </li>
              <li class="list-group-item" *ngIf="!isActiveMyProject">Assign From : {{task_detail.assign_from.name}} </li>
              <li class="list-group-item">Priority : {{task_detail.priority}} </li>
              <li class="list-group-item">Estimate hours : {{task_detail.estimate_hrs}} </li>
              <li class="list-group-item">Actual hours : {{task_detail.actual_hrs}} </li>
              <li class="list-group-item">Last seen : {{task_detail.modify_date | date : " MMM d, y h:mm:ss a"}} </li>
              <li class="list-group-item">Due Date : {{task_detail.due_date | date : " MMM d, y h:mm:ss a"}} </li>
            </ul>
          </div>
      </div> -->
      <div class="card">
          <div class="card-block">
              <div class="table-responsive custom_table">
               <table class="table table-bordered">
                  <thead class="thead-default">
                      <tr> 
                          <th width="15%">Task Name</th>
                          <th width="20%">Task Description</th>
                          <th width="20%">{{isActiveMyProject ? 'Assign To' :'Assign From'}}</th>
                          <th width="10%">Actual Hours</th>
                          <th width="10%">Due Date</th> 
                          <th width="25%" style="text-align: center;">Action</th>
                      </tr>
                  </thead>
                  <tbody *ngIf="taskList.length==0">
                      <tr>
                          <td colspan="6" style="text-align: center;">There are no task in the DB. Add a new task.</td>
                      </tr>  
                  </tbody>
                  <tbody>
                      <tr *ngFor="let task of taskList;let i=index;">
                          <td>
                              <span>{{task.task_title}}</span>
                          </td>
                          <td>
                              <span>{{task.task_description}}</span>
                          </td>
                          <td>
                              <span *ngIf="isActiveMyProject">{{task.assign_to.name}}</span>
                              <span *ngIf="!isActiveMyProject">{{task.assign_from.name}}</span>
                          </td>
                          <td>
                              <span>{{task.actual_hrs}}</span>
                          </td>
                          <td>
                              <span>{{task.due_date | date}}</span>
                          </td>
                          <td style="text-align: center;">
                              <!-- <button class="btn btn-sm btn-danger" (click)="startTaskFun(task)" [disabled] = "(task.status == 2 ) || (AssignedtaskFormDetail.select == 1)"><i class="fa fa-play" aria-hidden="true"></i></button> 
                              <button class="btn btn-sm btn-warning" [disabled] = "(task.status == 2) || (AssignedtaskFormDetail.select == 0) || (AssignedtaskFormDetail.select == 1 && AssignedtaskFormDetail._id != task._id)" (click)="pauseTaskFun(task)"><i class="fa fa-pause-circle" aria-hidden="true"></i></button> 
                              <button class="btn btn-sm btn-primary" [disabled] = "(task.status == 2) || (AssignedtaskFormDetail.select == 0) || (AssignedtaskFormDetail.select == 1 && AssignedtaskFormDetail._id != task._id)" (click)="finishTaskFun(task)"><i class="fa fa-list" aria-hidden="true"></i> Finish</button>

                               <button *ngIf = "AssignedtaskFormDetail._id == task._id" class="btn btn-sm btn-primary" style="float:right;margin-right:10px;"> 
                                    {{hoursDisplay}} : {{minutesDisplay}} : {{secondsDisplay}}</button>               -->
                          </td>  
                      </tr> 
                  </tbody>  
                </table>
              </div>
          </div>
          <div style="float:right">
              <pagination  *ngIf="taskList.length!=0" class="pagination-sm"
                  [(ngModel)]="task_pagination.page"
                  [totalItems]="task_pagination.length"
                  [itemsPerPage]="task_pagination.itemsPerPage"
                  [maxSize]="task_pagination.maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="callPaginationFun($event)"
                  (numPages)="task_pagination.numPages = $event">
              </pagination>
          </div>
      </div>
  </div>
</div>
