
.card {
    .card__one {
        width: 20%;margin: 10px;box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    }
}
.home_header{
    height:53px;background-color: #0275d8!important;;
    margin-left: 10px;
    padding: 20px 10px;
    span{
        color: white;
        font-size: 18px;
    }
    
}
.home_header .nav-tabs{
    .nav-item{
        margin-left: 0px;
        a{
            border: 1px solid #fff;
            border-top-right-radius: .25rem;
            border-top-left-radius: .25rem;
            color: #fff;
        }
       
    }
}
.nav_header{
    height:52px;background-color: #d6e1ea;
}
.card_ctm{
    width: 20%;margin: 10px;box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    height: 320px;
    .card-body{
        margin: 20px;height: 80px;
        .card-link{
            float: right; margin: 10px; margin-left: 0px;  
        }
    }
}
.icon{
    float:right;color:black;
}
.ctm_div{
    margin: 20px;
    .cursor_ctm{
        color:blue;cursor: pointer;
    }
}
.isActiveClass{
    background-color: #fff !important;
    color : #000 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.nav-tabs{
     border-bottom: none;
}
.desc_elipsis{
    display: -webkit-box;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
}
