<div class="cointaner">
    <app-loading [condition]="isLoading"></app-loading>
    <app-toast [message]="toast.message"></app-toast>
    <div class="card">
      <div class="card-header">
        <span class="custom_span_header">Profile</span>
      </div>
      <div class="card-block">
        <form [formGroup]="profileFormData" (ngSubmit)="saveProfile()">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Name</label>
                    <input class="form-control" type="text" formControlName="name" placeholder="Name">
                  </div>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
                <div class="col-md-10">
                  <div class="form-group">
                    <label>Email</label>
                     <input class="form-control" type="email" formControlName="email" placeholder="Email">
                    </div>
                </div>
              <div class="col-md-1"></div>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
                <div class="col-md-10">
                  <div class="form-group">
                    <label>Address</label>
                    <textarea class="form-control" rows="2" name="desc" formControlName="address" placeholder="Address" ></textarea>
                    </div>
                </div>
              <div class="col-md-1"></div>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <button class="btn btn-sm btn-primary" [disabled]="!profileFormData.valid" type="submit"><i class="fa fa-floppy-o"></i> Save</button>
              </div>
            </div>
        </form>
      </div>
    </div>
    <div class="card">
        <div class="card-header hearder_btn">
          <span class="custom_span_header">Assets</span>
        </div>
        <div class="card-block">
          <div class="table-responsive custom_table">
              <table class="table table-bordered">
                  <thead class="thead-default">
                  <tr>
                      <th width="25%">Assets ID</th>
                      <th width="25%">Assets Name</th>
                      <th width="45%">Description</th>
                      <th width="15%">Manufacturer</th>
                      <th width="45%">Rented</th>
                      <th width="15%">Serical No</th>
                      <th width="15%" style="text-align: center;">Action</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="assetList.length == 0">
                  <tr>
                      <td colspan="4" style="text-align: center;">There are no project in the DB. Add a new project.</td>
                  </tr>  
                  </tbody>
                  <tbody>
                      <tr *ngFor="let asset of assetList">
                          <td>
                              <span>{{asset.assets_id}}</span>
                          </td>
                          <td>
                              <span>{{asset.assets_name}}</span>
                          </td>
                          <td>
                              <span>{{asset.description}}</span>
                          </td>
                          <td>
                              <span>{{asset.manufacturer}}</span>
                          </td>
                          <td>
                              <span>{{asset.rented}}</span>
                          </td>
                          <td>
                              <span>{{asset.serical_no}}</span>
                          </td>
                          <td style="text-align: center;">
                            
                          </td>
                      </tr> 
                  </tbody>  
                  <popup  #popup1 (confirmClick)="conformPopup()" (cancelClick)="cancelPopup()">
                      <span>Do you want to delete project ?</span>
                  </popup>
              </table>
          </div>
          <div style="float:right" *ngIf="assetList.length!=0">
              <pagination class="pagination-sm"
                  [(ngModel)]="asset_pagination.page"
                  [totalItems]="asset_pagination.length"
                  [itemsPerPage]="asset_pagination.itemsPerPage"
                  [maxSize]="asset_pagination.maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="getAssetList($event)"
                  (numPages)="asset_pagination.numPages = $event">
              </pagination>
          </div>
        </div>
      </div>
</div>
